// Two state drawer

#nav-drawer.closed {
    left: -($drawer-width-semi-expanded + $drawer-offscreen-gutter);
}
#nav-drawer::-webkit-scrollbar {
    width: 0;
    display: none;
}
#nav-drawer {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

@include media-breakpoint-up(md) {
    #nav-drawer.closed {
        left: 0px; // Drawer does not disappear completely.
    }
    #nav-drawer[aria-hidden=true] .list-group-item {
        display: block; // Will still display the drawer.
    }
}

[data-region="drawer-toggle"] {
    width: $drawer-width-semi-expanded;
}

[data-region="drawer-toggle"] {
    // This will allow the button to be centered.
    padding-right: 1.5rem;
    margin-left: -.5rem;
}

[data-region="drawer"] {
    width: $drawer-width;

    &.closed {
        width: $drawer-width-semi-expanded;
    }
}

[data-region="drawer"] {
    padding: 0; // Padding in all cases.

    .nav-drawer-maximise-action {
        display: none;
    }

    transition: width 0.5s ease, right 0.5s ease, left 0.5s ease;

    &.closed {
        .media-body {
            visibility: hidden;
            // This will prevent the media-body to take any space at all.
            max-width: 0;
        }

        .nav-drawer-maximise-action {
            display: flex;
        }
    }
    .nav-drawer-list .drawer-item {
        line-height: 2.5rem;
        min-height: 2.5rem;
        height: auto;
        color: $navbar-light-color;
        text-decoration: none;
        &:hover {
            color: $navbar-light-hover-color;
        }
        .icon {
            font-size: 1.2rem;
            line-height: 24px;
            width: 24px;
            height: 24px;
            margin: 13px;
            position: relative;

        }
        &.active {
            .item-inner {
                background-color: $primary;
                .icon,
                .navname {
                    color: $white;
                }
            }
        }
    }
}

// BAS Not sure why this is needed.
@include media-breakpoint-down(md) {
    [data-region="drawer"],
    [data-region="drawer-toggle"] {
        transition: initial;
    }
}
// If user not logged in, the navbar should not appear
body.notloggedin {
    margin-left: auto;
    margin-right: auto;
}


@include media-breakpoint-up(md) {
    // The toggle should take the full width.
    // Here we work around the fact that css does not allow a list of selector in the not operator.
    body {
        margin-left: auto;
        [data-region="drawer-toggle"] {
            width: $drawer-width-semi-expanded;
        }
    }
    // Prevents the jumping of the content when the page is loaded.
    body:not(.notloggedin) {
        margin-left: $drawer-width-semi-expanded;
    }
    body.drawer-right {
        margin-right: $drawer-width-semi-expanded;
        margin-left: auto;
    }
    body.drawer-open-right {
        margin-right: $drawer-width;
    }
    body.drawer-open-left {
        margin-left: $drawer-width;
    }
    body.notloggedin {
        margin-left: auto;
        margin-right: auto;
    }
    body.no-nav-drawer {
        margin-left: auto;
        margin-right: auto;
    }

}

// Fix: Make sure that nav-item do not go over the navbar max height

nav.fixed-top.navbar {
    .nav-item {
        max-height: $navbar-height;
    }
}

// For responsive menus at the top.
.custom-menu-small {
    @extend .dropdown-menu;
    width: 100%;
    left: 0px;
    border: initial;
}

@include media-breakpoint-down(md) {
    #nav-drawer {
        z-index: $zindex-fixed + 2; // The nav drawer should be at the top of the menu.
    }
}
