{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_cboost/kids-frontpage-content

    Example context (json):
    {
        "ctaurl": 'url',
        "ctalabel": 'label'
    }
}}
<div>
    <div class="jumbotron p-4 p-md-5 pb-5 mb-1 text-white rounded bg-white text-dark">
        <div class="d-flex">
            <img src="{{config.wwwroot}}/theme/clboost/pix/kids/fp-x-mark.png" role="presentation" class="img-fluid"/>
            <div>
        <h1 class="display-4 font-italic">{{themeconfig.kids_tagline}}</h1>
            <p class="lead my-3">{{themeconfig.kids_slogan}}</p>
                <img src="{{config.wwwroot}}/theme/clboost/pix/kids/kidsplay.png" role="presentation" class="img-fluid"/>
            </div>
        </div>
        <p class="lead text-right">
            <a class="btn btn-secondary btn-lg" href="{{ctaurl}}" role="button">{{ctalabel}}</a>
        </p>
    </div>
    <div id="fp-carousel" class="carousel slide">
        <div class="carousel-inner">
            {{#carousel}}
                <div class="carousel-item">
                    <img src="{{image}}" alt="{{label}}" class="d-block w-100">
                </div>
            {{/carousel}}
        </div>
    </div>
</div>

{{#js}}
    M.util.js_pending('theme_boost/bootstrap/carousel');
    require(['theme_boost/bootstrap/carousel'], function() {
    M.util.js_complete('theme_boost/bootstrap/carousel');
    $('#fp-carousel .carousel-item').first().addClass('active');
    $('#fp-carousel').carousel();
    });

{{/js}}