{{< core_form/element-template }}
    {{$element}}
        <ul id="{{element.id}}-ui" class="list-group">
            {{#element.options}}
                <li class="list-group-item" data-name="{{text}}" data-value="{{value}}">
                    {{^element.frozen}}
                        {{> core/drag_handle}}
                    {{/element.frozen}}{{{text}}}
                </li>
            {{/element.options}}
        </ul>
        <input type="hidden" name="{{element.name}}" id="{{element.id}}" value="{{element.listitems}}">
    {{/element}}
{{/ core_form/element-template }}
{{^element.frozen}}
    {{#js}}
        require(['jquery', 'core/sortable_list'], function($, SortableList) {
        var list = new SortableList('#{{element.id}}-ui');
        $('#{{element.id}}-ui > *').on(SortableList.EVENTS.DROP, function(evt, info) {
            var sortedvalue = $('#{{element.id}}-ui > li:not(.sortable-list-is-dragged)').map(function() {
                    return $(this).data('value');
            }).get().join(", ");
            $('#{{element.id}}').val(sortedvalue);
        });
        list.getElementName = function(element) {
            return $.Deferred().resolve(element.attr('data-name'));
        }
        });
    {{/js}}
{{/element.frozen}}
